{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} 
Функциональность: Отображение основной информации о барбершопе с блоками-якорями для секций «О нас», «Услуги», «Мастера», «Запись».

Мы уже находимся в container / main
И можем оперировать section - семантическими тегами

Оформление в черном желтом цвете с белым фоном. Жёлтого немного. Только акценты.
{% endcomment %}
<h2>О нас</h2>
<section>

</section>
<h2>Услуги</h2>
<section>
    {% comment %} Тут Услуги которые подгружаются из нашей "Базы данных" - файла data 
    Секция о том какой классный Барбершоп "Арбуз" на рынке 50 лет, стригли налысо самого Вождя (Какого не уточняем)
    Используем буллеты , иконки и маркетинговые тексты
    {% endcomment %}
</section>
<h2>Мастера</h2>
<section>
    {% comment %} Тут Мастера которые подгружаются из нашей "Базы данных" - файла data 
    Используем BS5 колонки и полосы. Рендерим мастеров по 3 в ряд.
    {% endcomment %}
</section>
<h2>Запись</h2>
<section>
    {% comment %} Тут кнопка "Записаться" пока она не будет работать 
    Кнопка в стиле BS5 с иконкой dark
    {% endcomment %}
</section>
{% endblock content %}