{% extends "base.html" %}
{% load static %}
    
    {% block title %}Создание услуги{% endblock %}
    
    {% block content %}
    <h1>Создание услуги</h1>
    <form method="post">
       {% csrf_token %} 
        {{ form.as_div }} <!-- Отображение формы с помощью метода as_p -->
        {% comment %} 
        Циклом выводим ошибки связанные с полем
        {% endcomment %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        {% comment %} Ошибки не связанные с полями {% endcomment %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <button class="btn btn-dark" type="submit">Создать</button>
    </form>
    {% endblock %}


    {% comment %} name = models.CharField(max_length=200, verbose_name="Название услуги", db_index=True)
description = models.TextField(verbose_name="Описание услуги")
price = models.DecimalField(max_digits=10, decimal_places=2, verbose_name="Цена услуги") {% endcomment %}